.banner {
  position: relative;
  height: 350px;
  overflow: hidden;

  // &:hover {
  //   > img {
  //     filter: blur(0);
  //   }
  // }

  > img {
    position: absolute;
    height: 350px;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    //filter: blur(2px);
  }

  > div {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto auto;
    width: 450px;
    height: 150px;
    padding: 25px 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    background: #fff;

    @media (max-width: 600px) {
      width: 90%;
      height: 200px;
      display: block;
    }

    @media (max-width: 400px) {
      height: 220px;
    }

    .MuiFormHelperText-contained {
      @media (max-width: 400px) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .search-text {
      @media (max-width: 600px) {
        width: 100%;
      }

      input {
        width: 260px;
      }
    }

    > button {
      height: 57px;

      @media (max-width: 600px) {
        width: 100%;
        height: auto;
      }
    }

    .banner-search-filter {
      label {
        &:last-child {
          margin-right: 0;
        }
        span {
          font-size: 13px;
        }
      }

      .first-radio {
        margin-left: 0;
      }
    }
  }
}

.flex {
  display: flex;

  @media (max-width: 1000px) {
    display: block;
  }
}

.sidebar {
  width: 300px;
  padding: 20px 0;

  @media (max-width: 1000px) {
    width: 100%;
  }

  h3 {
    margin: 0;
  }

  .location {
    width: 300px;
    margin-top: 15px;

    @media (max-width: 1000px) {
      width: 100%;
    }
  }

  .location-search {
    margin: 10px 0;
    background: #fff;
  }

  .filter-loc-radio {
    @media (max-width: 1000px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
    }

    @media (max-width: 700px) {
      height: 200px;
      overflow-y: auto;
    }

    label {
      @media (max-width: 1000px) {
        margin: 0;
        width: 33%;
      }

      @media (max-width: 700px) {
        width: 50%;
      }

      @media (max-width: 500px) {
        width: 100%;
      }
    }
  }
}

.content {
  width: calc(100% - 300px);
  padding: 20px 0 20px 20px;

  @media (max-width: 1000px) {
    width: 100%;
    padding: 0;
  }
}

.card {
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 2px #ddd;
  cursor: pointer;

  @media (max-width: 600px) {
    display: block;
  }

  > figure {
    margin-right: 20px;

    > div {
      width: 100px;
      height: 100px;

      @media (max-width: 600px) {
        margin: 0 auto;
      }

      img {
        object-fit: contain;
      }
    }
  }

  > .body {
    width: calc(100% - 120px);

    @media (max-width: 600px) {
      width: 100%;
    }

    p {
      margin-bottom: 0;
      color: #999999;
      font-size: 14px;

      @media (max-width: 600px) {
        text-align: center;
      }

      a {
        color: #999999;
      }
    }

    h2 {
      margin: 3px 0 5px;
      line-height: 40px;
      font-size: 32px;

      @media (max-width: 600px) {
        font-size: 20px;
        text-align: center;
        line-height: 26px;
      }
    }

    > .meta {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @media (max-width: 600px) {
        align-items: center;
      }

      .post-meta {
        text-align: right;

        > span {
          margin: 0 5px;
          display: inline-block;
          font-size: 13px;
          color: #999999;

          > svg {
            vertical-align: -5px;
          }
        }
      }
    }
  }
}

.title-company {
  font-size: 14px;
  color: #999;
  white-space: nowrap;
}

.popup-avatar {
  width: 150px !important;
  height: 150px !important;
  margin: 0 auto 20px;

  > img {
    object-fit: contain;
  }
}

.dialog-text {
  a {
    color: palevioletred;
    text-decoration: underline;
  }
}

.footer {
  padding: 20px;
  text-align: center;

  > span {
    margin: 0 5px;
  }

  a {
    color: palevioletred;
    text-decoration: underline;
  }
}

.no-result {
  font-size: 36px;
}
